.container{
    .card-img-top{
        margin-block-end: 5px 10px 5px 5px;
        }
        .pixa1:hover{
            transform: scale(1.1)
            }
        .pixa2:hover{
            transform: scale(1.1)
        }
        .pixa3:hover{
            transform: scale(1.1)
        }
        .pixa4:hover{
            transform: scale(1.1)
        }
        .card-img-top{
            margin-block-end: 5px 10px 5px 5px;
        }
        .card-title{
            background-color: gold;
            text-align: center;
            transform: matrix(2.1);
        }
        
}