.infoContacto{
    background-color: black;
    color: white;
    padding: 9rem;
    text-align: center;
    
    i{
        color: grey;
        letter-spacing: 2px;
        height: 3px;
        padding: 10px;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

}